# Build
autom4te.cache/
m4/
src/.deps/
aclocal.m4
compile
config.*
configure
depcomp
install-sh
*Makefile
*Makefile.in
missing
stamp-h1
ABOUT-NLS
po/boldquot.sed
po/*.gmo
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/en@*
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po

# Project
*.[ao]
resources.c
corgan.desktop
corgan
corgan-*.tar.gz
